<mat-card>
  <mat-card-content>
    <h2 class="text-center">Підтвердіть електронну адресу</h2>
    <p>
      Звітуючи про стан вашого облікового запису, вам потрібно підтвердити свою
      електронну адресу, щоб отримати повний доступ до всіх можливостей нашого
      сайту.
    </p>
    <p>
      Для завершення процесу реєстрації та активації облікового запису, будь
      ласка, перевірте свою електронну пошту. Ми надіслали вам лист з посиланням
      для підтвердження електронної адреси. Якщо ви не знайшли листа у своїй
      основній скринці, будь ласка, перевірте папку "Спам" або "Сміття".
    </p>
    <p>
      Перейдіть за посиланням у листі, щоб підтвердити свою електронну адресу та
      завершити процес реєстрації.
    </p>
    <p>
      Якщо у вас виникли труднощі або ви не отримали листа для підтвердження,
      будь ласка, зверніться до нашої служби підтримки за допомогою відповідної
      контактної інформації на сайті.
    </p>
    <p>Дякуємо за ваш час та реєстрацію на нашому сайті.</p>
  </mat-card-content>
  <mat-card-footer class="card-footer">
    <button
      mat-button
      color="primary"
      style="margin-right: 5px"
      (click)="redirectToLogin()"
    >
      Увійти
    </button>
  </mat-card-footer>
</mat-card>
